*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 197, 197);
}

.buttonNav{
    color: green;
    border: 1px solid green;
}

.cardCategories{
    max-width: 240px;
    height: 240px;
}