*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 197, 197);
}

.buttonNav{
    color: green;
    border: 1px solid green;
}

#footer{
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerCopy{
    text-align: center;
}